body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./images\ \(7\).jpeg );
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
}
img{
    width: 200px;
    height: 200px;
}
.image-container{
    /* border: 1px solid #000; */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iframe{
    /* border: 1px solid black; */
    /* margin: 50px;    */
    /* width: 500px; */
}
iframe{
    width: 700px;
    height: 450px;
    border-radius: 10px;
    /* margin: 40px; */
    
}
section>.iframe>div{
    /* border: 1px solid black; */
    display: flex;
    /* position: fixed; */
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    /* margin: 50px; */
    
}
.first-iframe{
    display: flex;
    flex-direction: column;
    margin: 0 ;
    /* border: 1px solid black; */
    margin-bottom: 20px;
    
}
.second-iframe{
    display: flex;
    flex-direction: column;
    margin: 0 ;
    /* border: 1px solid black; */
    margin-bottom: 20px;
}
.third-iframe{
    display: flex;
    flex-direction: column;
    margin: 0 ;
    /* border: 1px solid black; */
    margin-bottom: 20px;
}
div>p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif    ;
}
@media screen and (max-width: 420px){
    body{
        box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction: column;
    background-image: url(./images\ \(7\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content   ;
    width: 50%;
    }
    div>img{
        width: 200px;
        height: 200px;
    }
    section{
        /* border: 5px solid black; */
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        width: 100px;
        height: 100px;
    }
    .iframe{
        /* border: 5px solid black; */
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    iframe{
        width: 250px;
        height: 400px;
    }
    /* .iframe-container{
        display: flex;
        flex-direction: column;
        width: 50px;
        height: 200px;

    } */

}
